KiCad/AD9833-WaveformGenerator/AD9833-WaveformGenerator-backups/
*#auto_saved_files#
KiCad/ardWaveFormGenerator/ardWaveformGenerator-backups/
*.kicad_prl
*fp-info-cache
KiCad/ardToneGeneratorJK/ardToneGeneratorJK-backups/
KiCad/AD9833-WaveformGenerator/ardWaveformGenerator-backups/
*.kicad_sch.lck
KiCad/ardToneGenerator/ardToneGenerator-backups/
KiCad/ardWaveformGenerator-AG/ardWaveformGenerator-AG-backups/
